<div class="body">
    <div class="row-mt-5">
        <div class="col-md-4 mx-auto">
            <div class="agregar-proyecto">
                <h1>Agregar proyecto</h1>
                <img src="../../../assets/img/subir.png" alt="Imagen de una flecha hacia arriba" width="75%"/>
                <div class="separacion">
            <form (ngSubmit)="onCreate()" novalidate #f="ngForm">
                <div class="form-group">
                    <mat-form-field class="tamanio" appearance="fill">
                        <mat-label>Nombre del proyecto</mat-label>
                        <input matInput name="nombreProyecto" [(ngModel)]="nombreProyecto" required>
                    </mat-form-field>
                <mat-form-field class="tamanio" appearance="fill">
                    <mat-label>Fecha de realización</mat-label>
                    <input matInput name="fechaRealizacion" [(ngModel)]="fechaRealizacion" required>
                </mat-form-field>
                <mat-form-field class="tamanio" appearance="fill">
                    <mat-label>Link del proyecto</mat-label>
                    <input matInput name="linkProyecto" [(ngModel)]="linkProyecto" required>
                </mat-form-field>
                <mat-form-field class="tamanio" appearance="fill">
                    <mat-label>Imagen descriptiva del proyecto</mat-label>
                    <input matInput name="imagenProyecto" [(ngModel)]="imagenProyecto" required>
                </mat-form-field>
                <mat-form-field class="tamanio" appearance="fill">
                    <mat-label>Breve descripción del proyecto</mat-label>
                    <input matInput name="descripcionProyecto" [(ngModel)]="descripcionProyecto" required>
                </mat-form-field>
                
            </div>
            <button type="submit" mat-raised-button color="primary" [disabled]="!f.valid">Cargar</button>
            </form>
        </div>
    </div>
</div>
