.body {
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
    text-align: center;
}

.agregar-skill {
    width: 100%;
    max-width: 600px;
    text-align: center;
}

.tamanio {
    width: 100%;
}
.tamanioBoton {
    height: 50px;
}
.separacion {
    padding-top:10px;
}