.aside{
    background:  #f7f7f7;
    flex: 1 1 auto;
    flex-flow: column nowrap;
}
    .publicidad{
        background: #f7f7f7;
        flex: 1 1 auto;
        text-align: center;
    }
    .publicidad img{
        border-radius: 50%;
    }
img {
    width: 100%;
    height: 600px;
}