.alineacion {
    margin-top: 0.625rem;
}

.foto-perfil{
    max-width: 12.5rem;
    max-height: 12.5rem;
    margin-top: 0.625rem;
    padding: 0.625rem;
    
}

.separacion {
    padding-top: 0.625rem;
}

.destacado {
    font-weight: bold;
    font-size: 1.125rem;
    color: rgb(95, 38, 168);
}