
    <div class="row">
      <mat-toolbar>
        <span>Educación</span>
        <span class="example-spacer"></span>
        <div *ngIf="isLogged"><mat-icon color="primary" routerLink="/porfolio/educacion/nueva">add</mat-icon></div>
      </mat-toolbar>
      <span class="separacion"></span>
      
        <div class="row" *ngFor="let educa of educacion">
         <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4"><img class="logoEducacion" src="{{educa.logoEducacion}}"/></div>
                  
                      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-6"><p class="destacado">{{educa.titulo}}</p>
                      <p>{{educa.institucion}}</p>
                      <p>Fecha de inicio: {{educa.fechaInicio}} | Fecha de fin: {{educa.fechaFin}}</p>
                    </div>
                    
                  
                  <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2" id="alineacion" *ngIf="isLogged"><td><button mat-button color="primary" routerLink="/porfolio/educacion/modificar/{{educa.id}}"><mat-icon>edit</mat-icon></button></td>
                    <td><button mat-button color="warn" (click)="borrar(educa.id)"><mat-icon>delete</mat-icon></button></td>
                    </div>
                
              
        </div>

      
    </div>
 
