
<div class="container">
<mat-toolbar color="primary">
    <span>Portfolio</span>
    <span class="example-spacer"></span>
    <button mat-button routerLink="/porfolio/datosPersonales">Inicio</button>
    <button mat-button routerLink="/porfolio/acercaDe">Acerca de</button>
    <button mat-button routerLink="/porfolio/experiencia">Experiencia</button>
    <button mat-button routerLink="/porfolio/educacion">Educación</button>
    <button mat-button routerLink="/porfolio/skill">Skills</button>
    <button mat-button routerLink="/porfolio/proyectos">Proyectos</button>
    <span class="example-spacer"></span>
    <button mat-button><a href="https://www.facebook.com/mfvalletta/"><img src="../../../assets/facebook.png" alt="Facebook" width="25" height="24"></a></button>
    <button mat-button><a href="https://www.linkedin.com/in/mflorenciavalletta/"><img src="../../../assets/linkedin.png" alt="LinkedIn" width="25" height="24"></a></button>
    <button routerLink="/login" mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>logout</mat-icon>
      </button>

</mat-toolbar>
</div>