<div class="container">
    <nav class="navbar navbar-dark bg-dark">
        <span class="nombre">    
        <h6 class="navbar">María Florencia Valletta</h6>
    </span>
    <span class="iconos_derecha">
            <a class="btn-Facebook" href="https://www.facebook.com/mfvalletta/"><img src="./assets/facebook.png" class="social-media" alt="Facebook" width="25" height="24"></a>
            <a class="btn-Linkedin" href="https://www.linkedin.com/in/mflorenciavalletta/">
            <img src="./assets/linkedin.png" alt="Linkedin" width="25" height="24"></a>
            <button type="button" class="btn btn-outline-success" routerLink="/login">Login</button>
        </span>
      </nav>
    
