.navbar{
    color: white;
}
.iconos_derecha{
    flex: 1 1 1;
}
.btn-Facebook{
    padding: 10px;
    margin-right: -10px;
}
.btn-Linkedin{
    padding: 10px;
    margin-right: 5px;
}
.btn-outline-success{
    margin-right: 10px;
}