<div class="container alineacion">
    <div>
      <mat-toolbar>
        <span>Experiencia</span>
        <span class="example-spacer"></span>
        <div *ngIf="isLogged"><mat-icon color="primary" routerLink="/porfolio/experiencia/nueva">add</mat-icon></div>
      </mat-toolbar>
      <mat-card class="tarjeta">
        <div *ngFor="let exper of experiencia">
          <table class="table table-hover">
            <tbody>
              <tr>
               <mat-grid-list cols="4" rowHeight="250px">
                 <mat-grid-tile [colspan]="1" [rowspan]="1"><td><img class="logoExperiencia" src="{{exper.logoEmpresa}}"/></td></mat-grid-tile>
                  <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <td><p><span class="destacado">{{exper.puesto}}</span><br/><br/>
                      {{exper.lugarTrabajo}}<br/><br/>
                      Fecha de inicio: {{exper.fechaInicio}} | Fecha de fin: {{exper.fechaFin}}<br><br>
                      {{exper.descripcion}}
                  </p>
                  </td>
                    
                  </mat-grid-tile>
                  <div *ngIf="isLogged"><mat-grid-tile [colspan]="2" [rowspan]="1"><td><button mat-button color="primary" 
                    routerLink="/porfolio/experiencia/modificar/{{exper.id}}"><mat-icon>edit</mat-icon></button></td>
                    <td><button mat-button color="warn" (click)="borrar(exper.id)"><mat-icon>delete</mat-icon></button></td>
                    </mat-grid-tile></div>
                </mat-grid-list>
             </tr>
             
           </tbody>
         </table>
        </div>
      </mat-card>
      
    
  </div>
  </div>
