<div class="container">
    <div>
      <mat-toolbar>
        <span>Experiencia</span>
        <span class="example-spacer"></span>
        <mat-icon routerLink="porfolio/experiencia/nueva">add</mat-icon>
      </mat-toolbar>
      <mat-card class="tarjeta">
        <div *ngFor="let exper of experiencia">
          <table class="table table-hover">
            <tbody>
             <tr>
               <td><img class="logoExperiencia" src="{{exper.logoEmpresa}}"/></td>
               <td><p>{{exper.puesto}}</p>
               <p>{{exper.lugarTrabajo}}</p>
               <p>Fecha de inicio: {{exper.fechaInicio}}</p>
               <p>Fecha de fin: {{exper.fechaFin}}</p> 
               <p>Tareas realizadas: {{exper.descripcion}}</p>
               </td>
               <td><button mat-button routerLink="experiencia/modificar/{{exper.id}}"><mat-icon>edit</mat-icon></button></td>
               <td><button mat-button (click)="borrar(exper.id)"><mat-icon>delete</mat-icon></button></td>
               
             </tr>
             
           </tbody>
         </table>
        </div>
      </mat-card>
      
    
  </div>
  </div>
