

.logoExperiencia {
        background: white;
        flex: 1 1 auto;
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        max-width: 200px;
        max-height: 200px;
    
}

.destacado {
        font-size: 14px;
        font-weight: bold;
        color: rgb(95, 38, 168);
    }

    .primero{
        background: white;
        flex: 1 1 0;
        display: flex;
        flex-flow: row wrap;
        
    }
    
        .segundo{
        flex: 1 1;
        }  