<h2 mat-dialog-title>Modificar Descripción</h2>
<mat-dialog-content class="mat-typography">
    <div *ngIf="acerca">
        <div class="row-mt-5">
            <div class="col-md-4 mx-auto">
                
                <form (ngSubmit)="modificar()" novalidate #f="ngForm">
    
                    <div class="form-group">
                        
                            <label>Descripción</label>
                            <input type="text" [(ngModel)]="acerca.descripcion" required>
                        </div>   
                    
                    


<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button type="submit" [mat-dialog-close]="true" cdkFocusInitial>Modificar</button>
</mat-dialog-actions>
</form>

<!-- <h1 mat-dialog-title>Modificar Descripción</h1>
 <div mat-dialog-content><div class="container" *ngIf="acerca">
    <div class="row-mt-5">
        <div class="col-md-4 mx-auto">
            
            <form (ngSubmit)="modificar()" novalidate #f="ngForm">

                <div class="form-group">
                    
                        <label>Descripción</label>
                        <input type="text" [(ngModel)]="acerca.descripcion" required>
                      
                </div> 
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Close</button>
  <button type="submit" class="btn btn-primary">Modificar</button>
</div> -->
    <!-- </form>
      </div>
      </div>

  </div>
  </div> -->
  


<!-- <h1 mat-dialog-title>Modificar Descripción</h1>
<div mat-dialog-content><div class="body">
    <div class="container" *ngIf="acerca">
        <div class="row-mt-5">
            <div class="col-md-4 mx-auto">
                <div class="modificar-descripcion">
                    <img src="https://github.com/florvalletta/PfImg/blob/main/editar.png?raw=true" alt="Imagen de un usuario" width="15%"/>    
            <div class="separacion">
                <form (ngSubmit)="modificar()" novalidate #f="ngForm">
    
                    <div class="form-group">
                        <mat-form-field class="tamanio" appearance="fill">
                            <mat-label>Descripción</mat-label>
                            <input matInput name="descripcion" [(ngModel)]="acerca.descripcion" required>
                          </mat-form-field>
                    </div>
<div mat-dialog-actions>
    <button type="submit" mat-raised-button color="primary" [disabled]="!f.valid">Editar</button>
  <button mat-button mat-dialog-close>Cerrar</button>


</div><div class="body">
<div class="container" *ngIf="acerca">
    <div class="row-mt-5">
        <div class="col-md-4 mx-auto">
            <div class="modificar-descripcion">
                <h1>Modificar Descripción</h1>
                <img src="https://github.com/florvalletta/PfImg/blob/main/editar.png?raw=true" alt="Imagen de un usuario" width="15%"/>    
        <div class="separacion">
            <form (ngSubmit)="modificar()" novalidate #f="ngForm">

                <div class="form-group">
                    <mat-form-field class="tamanio" appearance="fill">
                        <mat-label>Descripción</mat-label>
                        <input matInput name="descripcion" [(ngModel)]="acerca.descripcion" required>
                      </mat-form-field>
                </div>
            <button type="submit" mat-raised-button color="primary" [disabled]="!f.valid">Editar</button>
            <button mat-raised-button (click)="cancelar()" color="accent" style="margin: 10px">Cancelar</button>
        </form>
        </div>
    </div>
</div>
</div> -->