<div class="body">
    <div class="container" *ngIf="datos">
        <div class="row-mt-5">
            <div class="col-md-4 mx-auto">
                <div class="modificar-portada">
                    <h1>Modificar Experiencia</h1>
                    <img src="../../../assets/img/editar.png" alt="Imagen de un usuario" width="25%"/>    
            <div class="separacion">
                <form (ngSubmit)="modificar()" novalidate #f="ngForm">
                    <div class="form-group">
                        <mat-form-field class="tamanio" appearance="fill">
                            <mat-label>Nombre</mat-label>
                            <input matInput name="nombre" [(ngModel)]="datos.nombre" required>
                          </mat-form-field>
                          <mat-form-field class="tamanio" appearance="fill">
                            <mat-label>Apellido</mat-label>
                            <input matInput name="apellido" [(ngModel)]="datos.apellido" required>
                          </mat-form-field>
                          <mat-form-field class="tamanio" appearance="fill">
                            <mat-label>Foto de portada</mat-label>
                            <input matInput name="fotoPortada" [(ngModel)]="datos.fotoPortada" required>
                          </mat-form-field>
                          <mat-form-field class="tamanio" appearance="fill">
                            <mat-label>Foto de perfil</mat-label>
                            <input matInput name="fotoPerfil" [(ngModel)]="datos.fotoPerfil" required>
                          </mat-form-field>
                          <mat-form-field class="tamanio" appearance="fill">
                            <mat-label>Puesto actual</mat-label>
                            <input matInput name="puestoActual" [(ngModel)]="datos.puestoActual" required>
                          </mat-form-field>
                          <mat-form-field class="tamanio" appearance="fill">
                            <mat-label>Ubicación</mat-label>
                            <input matInput name="ubicacion" [(ngModel)]="datos.ubicacion" required>
                          </mat-form-field>
                </div>
                <button type="submit" mat-raised-button color="primary" [disabled]="!f.valid">Editar</button>
                <button mat-raised-button (click)="cancelar()" color="accent" style="margin: 10px">Cancelar</button>
              </form>
            </div>
        </div>
    </div>
    </div>
