*{
    margin: 0px;
    padding: 10px;
    box-sizing: border-box;
}
body{
    font-family:'Montserrat', sans-serif;
}
a {
    text-decoration: none;
}
.padre{
    display: flex;
    flex-flow: column nowrap;
}

    .header{
    background: url(https://github.com/florvalletta/PfImg/blob/main/stefan-stefancik--g7axSVst6Y-unsplash.jpg?raw=true);
    background-position: center;
    background-attachment: contain;
    background-size: cover;
    display: flex;
    flex-flow: column nowrap;
    }
        .menu{
            background: rgba(0,0,0,.1);
            display: flex;
            flex-flow: row nowrap;
            height: 60px;
            align-items: center;
            border-bottom: 1px solid rgba(255,255,255,.5);
        }
            .logo{
                flex: 1 1 auto;
            }
                .logo a{
                    color: black;
                    font-size: 30px;
                }
                .logo a:hover{
                    color: rebeccapurple;
                }
            .nav{
                flex: 5 1 auto;
            }
                .nav a{
                    color: black;
                    font-size: 11px;
                    text-transform: uppercase;
                    padding: 0 10px;
                    letter-spacing: 2px;
                }
                .nav a:hover{
                    color: rebeccapurple;
                }
            .social{
                flex: 1 1 auto;
                display: flex;
            }
                .social a{
                    font-size: 18px;
                    color: black;
                    padding: 0 5px;
                }

                .social a:hover{
                    color: rebeccapurple;
                }
            .texto-principal{
                height:580px;
                display: flex;
                align-items: center;
                justify-content: center;
                /*background: #f07b3f;*/
            }
            h1{
                font-family: 'Lora', serif;
                font-size: 21px;
                color: white;
                font-weight: 300;
                text-align: center;
                line-height: 1.6;
            }

    .section {
    display: flex;
    }
        .articulos{
            background: white;
            flex: 9 1 auto;
            display: flex;
            flex-flow: column nowrap;
        }
            .article{
            flex: 1 1 100%;
            color: #444;
            font-size: 13px;
            letter-spacing:1px;
            flex-flow: row wrap;
            }
            .navegacion{
                flex: 1 1 100%;
            }
        .aside{
            background:  #f7f7f7;
            flex: 1 1 auto;
            flex-flow: column nowrap;
        }
            .publicidad{
                background: #f7f7f7;
                flex: 1 1 auto;
                text-align: center;
            }
            .publicidad img{
                border-radius: 50%;
            }

    .footer {
    background: rgba(0,0,0,.1);
    display: flex;
    justify-content:center;
    border-bottom: 1px solid rgba(255,255,255,.5);
    }
        .pie{
            width: 300px;
        }

@media all and (max-width: 800px){
    .section{
        flex-direction: column;
    }
    .menu{
        flex-direction: column;
        height: auto;
    }
    .aside{
        display: flex;
        justify-content: center;
    }
}
@media all and (max-width: 600px){
    .articulos{
        flex-direction: column;
    }
}
@media all and (max-width: 400px){
    .aside{
        flex-direction: column;
    }
}