<div class="body">
    <div class="login">
        <img src="../../../assets/img/user.png" alt="Imagen de un usuario" width="50%"/>
        <h1>Ingresar</h1>
        <mat-form-field class="tamanio" appearance="fill">
            <mat-label>Usuario</mat-label>
            <input matInput autocomplete="off">
          </mat-form-field>
          <mat-form-field class="tamanio" appearance="fill">
            <mat-label>Contraseña</mat-label>
            <input matInput autocomplete="off">
          </mat-form-field>
          <br>
          <button mat-raised-button class="tamanio tamanioBoton" color="primary">Ingresar</button>
    </div>
    
</div>
