<div class="body">
    <div class="container" *ngIf="skill">
<div class="row-mt-5">
        <div class="col-md-4 mx-auto">
            <div class="modificar-skill">
                <h1>Modificar Skill</h1>
                <img src="../../../assets/img/editar.png" alt="Imagen de un usuario" width="25%"/>    
        <div class="separacion">
            <form (ngSubmit)="modificar()" novalidate #f="ngForm">
                <div class="form-group">
                    <mat-form-field class="tamanio" appearance="fill">
                        <mat-label>Nombre skill</mat-label>
                        <input matInput name="nombreSkill" [(ngModel)]="skill.nombreSkill" required>
                      </mat-form-field>
                <mat-form-field class="tamanio" appearance="fill">
                    <mat-label>Porcentaje alcanzado</mat-label>
                    <input matInput name="valorPorcentaje" [(ngModel)]="skill.valorPorcentaje" required>
                  </mat-form-field>    
            </div>
            <button type="submit" mat-raised-button color="primary"[disabled]="!f.valid">Editar</button>
            <button mat-raised-button (click)="cancelar()" color="accent" style="margin: 10px">Cancelar</button>    
        </form>
        </div>
    </div>
</div>
</div>