<div class="container" *ngIf="experiencia">
    <div class="row-mt-5">
        <div class="col-md-4 mx-auto">
            <form (ngSubmit)="modificar()" novalidate #f="ngForm">
                <div class="form-group">
                <label for="puesto">Puesto</label>
                <input type="text" class="form-control" id="puesto" name="puesto" 
                [(ngModel)]="experiencia.puesto" required>
                <label for="lugarTrabajo">Empresa o institución</label>
                <input type="text" class="form-control" id="lugarTrabajo" name="lugarTrabajo" 
                [(ngModel)]="experiencia.lugarTrabajo" required>
                <label for="fechaInicio">Fecha de inicio</label>
                <input type="text" class="form-control" id="fechaInicio" name="fechaInicio" 
                [(ngModel)]="experiencia.fechaInicio" required>
                <label for="fechaFin">Fecha de fin</label>
                <input type="text" class="form-control" id="fechaFin" name="fechaFin" 
                [(ngModel)]="experiencia.fechaFin" required>
                <label for="logoEmpresa">Logo de la empresa o institución</label>
                <input type="text" class="form-control" id="logoEmpresa" name="logoEmpresa" 
                [(ngModel)]="experiencia.logoEmpresa" required>
                <label for="descripcion">Descripción de las tareas realizadas</label>
                <input type="text" class="form-control" id="descripcion" name="descripcion" 
                [(ngModel)]="experiencia.descripcion" required>
            </div>
            <button class="btn btn-outline-success btn-block" [disabled]="!f.valid">Editar</button>
            </form>
        </div>
    </div>
</div>
