<div class="body">
    <div class="row-mt-5">
        <div class="col-md-4 mx-auto">
            <div class="agregar-experiencia">
                <h1>Agregar Experiencia</h1>
                <img src="../../../assets/img/subir.png" alt="Imagen de una flecha hacia arriba" width="75%"/>
                <div class="separacion">
                <form (ngSubmit)="onCreate()" novalidate #f="ngForm">
                <div class="form-group">
                    <mat-form-field class="tamanio" appearance="fill">
                        <mat-label>Puesto</mat-label>
                        <input matInput name="puesto" [(ngModel)]="puesto" required>
                    </mat-form-field>  
                <mat-form-field class="tamanio" appearance="fill">
                    <mat-label>Empresa o institución</mat-label>
                    <input matInput name="lugarTrabajo" [(ngModel)]="lugarTrabajo" required>
                </mat-form-field>
                <mat-form-field class="tamanio" appearance="fill">
                    <mat-label>Fecha de inicio</mat-label>
                    <input matInput name="fechaInicio" [(ngModel)]="fechaInicio" required>
                </mat-form-field>
                <mat-form-field class="tamanio" appearance="fill">
                    <mat-label>Fecha de fin</mat-label>
                    <input matInput name="fechaFin" [(ngModel)]="fechaFin" required>
                </mat-form-field>
                <mat-form-field class="tamanio" appearance="fill">
                    <mat-label>Logo de la empresa o Institución</mat-label>
                    <input matInput name="logoEmpresa" [(ngModel)]="logoEmpresa" required>
                </mat-form-field>
                <mat-form-field class="tamanio" appearance="fill">
                    <mat-label>Descripción de las tareas realizadas</mat-label>
                    <input matInput name="descripcion" [(ngModel)]="descripcion" required>
                </mat-form-field>
                
            </div>
            <button type="submit" mat-raised-button color="primary" [disabled]="!f.valid">Cargar</button>
            </form>
        </div>
        </div>
    </div>
</div>
