
  <div class="row">
  <mat-toolbar>
    <span>Hard Skills & Soft Skills</span>
    <span class="example-spacer"></span>
    <div *ngIf="isLogged"><button mat-button data-bs-toggle="modal" data-bs-target="#exampleModal">
      <mat-icon color="primary">add</mat-icon>
    </button></div>
  </mat-toolbar>
  <span class="separacion"></span>
 
      
      <div class="col" *ngFor="let ski of skills">
        <div class="row-xs-12 row-sm-6 row-md-4 row-lg-6">
      <span id="alineacionSpinners" name="nombreSkill">{{ski.nombreSkill}}</span></div>
      <!-- /*<div class="row-xs-12 row-sm-6 row-md-4 row-lg-6" id="alineacionSpinners"><mat-spinner mode="determinate" value="{{ski.valorPorcentaje}}"></mat-spinner></div> -->
      <div [attr.percent]="ski.valorPorcentaje">
      <circle-progress
      [percent]= "ski.valorPorcentaje"
      [radius]="100"
      [outerStrokeWidth]="16"
      [innerStrokeWidth]="2"
      [outerStrokeColor]="'#554994'"
      [innerStrokeColor]="'#554994'"
      [animation]="true"
      [animationDuration]="300"
></circle-progress>
</div>
      <div class="row-xs-12 row-sm-6 row-md-4 row-lg-6" *ngIf="isLogged">
      <button mat-button color="primary" (click)="openModalWithComponent(ski)"><mat-icon>edit</mat-icon></button>
      <button mat-button color="warn" (click)="borrar(ski.id)"><mat-icon>delete</mat-icon></button>
    </div>
  </div> 

</div>



