<div class="container">
    <div>
      <mat-toolbar>
        <span>Acerca de</span>
        
      </mat-toolbar>
      <mat-card class="tarjeta">
        <div *ngFor="let acerca of acercaDe">
          <mat-grid-list cols="4" rowHeight="50px">
            <mat-grid-tile [colspan]="2" [rowspan]="1">{{acerca.descripcion}}</mat-grid-tile>
            <div *ngIf="isLogged"><mat-grid-tile [colspan]="2" [rowspan]="1"><button mat-button color="primary" routerLink="/porfolio/acercaDe/modificar/{{acerca.id}}"><mat-icon>edit</mat-icon></button>
              </mat-grid-tile></div>
          </mat-grid-list>
        </div>
      </mat-card>
    
</div>
    </div>