
<div class="row">
  <div class="row" *ngFor="let datos of datosPersonales">
    <div class="row-xs-12 row-sm-6 row-md-6 col-lg-2" id="fondo">
      <img src="{{ datos.fotoPerfil }}" class="img-fluid" />
    </div>
    <div class="row-xs-12 row-sm-6 row-md-6 col-lg-2" id="fondo">
      <p class="destacado">{{ datos.nombre }} {{ datos.apellido }}</p>
      <p>{{ datos.puestoActual }}</p>
      <a href="mailto:mflorenciavalletta@gmail.com">
        <button mat-raised-button color="primary">Contactar
        </button></a>
    </div>
    
    <div class="col" *ngFor="let acerca of acercaDe">
      <div class="container">
      <div class="row-xs-12 row-sm-10 row-md-10 row-lg-4">
        <span><h1>Acerca De</h1></span>
        <p id="alineacion">{{ acerca.descripcion }}</p>
      </div>
    </div>
      <div class="col">
    <div
      class="row-xs-12 row-sm-2 row-md-2 row-lg-2"
      id="alineacion"
      *ngIf="isLogged"
    >
      <button mat-button (click)="openDialog()">
        <mat-icon color="primary">edit</mat-icon>
      </button>
    </div>
  </div>
  </div>
  </div>
  </div>

